# enviornment folder
uspto/
CPC_Portfolio_Determination-Fitzhugh_Julius.xlsx
cpc-examiner-portfolio.xlsx
.vscode/
__pycache__/
test_CPC*

**/node_modules/**
lambda-zappa/
.DS_Store
processor.zip

# virtual env
excel-proc/
.netlify/
